@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --earth-white: #EFF1ED;
  --earth-dark-green: #373D20;
  --earth-green: #717744;
  --earth-light-green: #BCBD8B;
  --earth-brown: #766153;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-earth-white: var(--earth-white);
  --color-earth-dark-green: var(--earth-dark-green);
  --color-earth-green: var(--earth-green);
  --color-earth-light-green: var(--earth-light-green);
  --color-earth-brown: var(--earth-brown);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-epilogue: var(--font-epilogue);
  --font-lora: var(--font-lora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--earth-white);
  color: #000;
  font-family: var(--font-epilogue), sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.section {
  @apply w-[100%] h-[100vh] px-7 pb-7 pt-[84px];
}